{% extends '_layout.njk' %}

{%block head%}
    <title>NOTIFICADO</title>
    <link rel="stylesheet" href="/css/ajuda.css">
{%endblock%}

{%block conteudo%}
    <div class="box-cartilha"">
        <div class="cabecalho">
            <p>Segue algumas dicas para uma melhor experiência</p>
        </div>
        <div class="cartilha">
            
            <div class='line-1'>
                <i class="material-icons icon-clock">settings</i>
                <h3>Como Funciona?</h3>
            </div>
            
            <div class='line-1'>
                <p>A cada 60min eu acesso a página de notícias do <b><i><a target="_blank" href="https://www.ifnmg.edu.br/mais-noticias-januaria/560-januaria-noticias-2020">@IFNMG Campus-Januária</i></b></a> e te aviso, caso encontre novidades por lá!</p>
                <i class="material-icons icon-clock">schedule</i>
            </div>
            
            <div class='line-2'>
                <i class="material-icons sino">notifications</i>
                <h3>Ativando as Notificações</h3>
            </div>
            
            <div class='line-2'>
                <p>Irei lhe alertar somente se me der permissão de notificação (acho justo)</p>
                <p>MAS! caso tenha me negado isso, explico como se desculpar <a target="_blank" href="#video">neste vídeo</p></a> 
            </div>
            
            <div class='line-3'>
                <img src="/images/sos.png" alt="SOS">
                <h3>Me Salve!</h3>
            </div>
            
            <div class='line-3'>
                <p>Garanto que você terá uma melhor experiência se me adicionar à sua <a target="_blank" href="#video">tela inicial</p></a>
            </div>
        </div>
    </div>
{%endblock%}