{% extends '_layout.njk' %}

{%block head%}
    <title>NOTIFICADO</title>
    <link rel="stylesheet" href="/css/ajuda.css">
{%endblock%}

{%block conteudo%}
    <div style="display: flex;">
        <h1 class="building">PÁGINA EM CONSTRUÇÃO</h1>
    </div>
{%endblock%}