{% extends 'layout.njk' %}

{%block conteudo%}
    
        <div class="content">
            {% for item in news %}
                    <div class="items">
                        <p class="data">{{ item.date }}</p>
                        <p class="hora">{{ item.hour }}</p>
                        <a href={{ item.url }} target="_blank" class="link-title-item">
                            <h4>{{item.title}}</h4>
                        </a>
                        
                        
                        {% if item.description %}
                            <p class="desc">{{ item.description }}</p>
                        {% else %}
                            <p class="desc">[Sem descrição]</p>
                        {% endif %}

                        
                        <a href={{ item.url }} target="_blank" class="link-image-item">
                            {% if item.image_url %}
                                <img src={{ item.image_url }} alt="Imagem da notícia">
                            {% else %}
                                <img src="/images/no-image.jpg" alt="Imagem da notícia">
                            {% endif %}
                        </a>
                        
                        
                        <i class="material-icons icon-date">today</i>
                        <i class="material-icons icon-clock">schedule</i>
                    </div>
            {% endfor %}
        </div>
        <div class="paginacao">


            {% if page != 0 %}
                <a href="/?page=0"  title="Ir para primeira página">
                    <i class="material-icons">first_page</i>
                </a>
            {%endif%}
    
        
            {% if pagina - 1 >= 0 %}
                <a href="/?page={{pagina-1}}" title="Voltar uma página">
                    <i class="material-icons">arrow_back_ios</i>
                </a>
            {% endif %}
        
        
            {% if pagina + 1 <= maxPage-10 %}
                <a href="/?page={{pagina+1}}"  title="Avançar uma página">
                    <i class="material-icons">arrow_forward_ios</i>
                </a>
            {%endif%}
        
        
            {% if page != maxPage-10 %}
                <a href="/?page={{maxPage-10}}"  title="Ir para última página">
                    <i class="material-icons">last_page</i>
                </a>
            {% endif %}
        </div>
        <div class="pinfo">
            <p>Página atual: {{pagina+1}} de {{maxPage-10}}</p>
        </div>
    
{%endblock%}