{% extends '_layout.njk' %}

{%block head%}
    <title>NOTIFICADO</title>
    <link rel="stylesheet" href="/css/index.css">
{%endblock%}

        {%block conteudo%}    
        <div class="box-banner">
            {% for item in banner %}
            <a class="link_banner" href={{ item.url_target }} target="_blank">
                <img class="banner" href={{item.url_target}} style="display:none;" src={{item.url_image}} alt="banner">   
            </a>
            {% endfor %}
        </div>
        <div class="content" id="content">
            {% for item in news %}
                    <div class="items">
                        <p class="data">{{ item.date }}</p>
                        <p class="hora">{{ item.hour }}</p>
                        <a href={{ item.url }} target="_blank" class="link-title-item">
                            <h4>{{item.title}}</h4>
                        </a>
                        
                        
                        {% if item.description %}
                            <p class="desc">{{ item.description }}</p>
                        {% else %}
                            <p class="desc">[Sem descrição]</p>
                        {% endif %}

                        
                        <a href={{ item.url }} target="_blank" class="link-image-item">
                            {% if item.image_url %}
                                <img src={{ item.image_url }} alt="Imagem da notícia">
                            {% else %}
                                <img src="/images/no-image.jpg" alt="Imagem da notícia">
                            {% endif %}
                        </a>
                        
                        
                        <i class="material-icons icon-date">today</i>
                        <i class="material-icons icon-clock">schedule</i>
                    </div>
            {% endfor %}
        </div>
        <div class="paginacao">


            {% if pagina_atual > 1 %}
                <a href="/?page=1"  title="Ir para primeira página">
                    <i class="material-icons">first_page</i>
                </a>
            {%endif%}
    
        
            {% if pagina_atual - 1 >= 1 %}
                <a href="/?page={{pagina_atual-1}}" title="Voltar uma página">
                    <i class="material-icons">arrow_back_ios</i>
                </a>
            {% endif %}
        
        
            {% if pagina_atual + 1 <= maxPage %}
                <a href="/?page={{pagina_atual+1}}"  title="Avançar uma página">
                    <i class="material-icons">arrow_forward_ios</i>
                </a>
            {%endif%}
        
        
            {% if pagina_atual != maxPage %}
                <a href="/?page={{maxPage}}"  title="Ir para última página">
                    <i class="material-icons">last_page</i>
                </a>
            {% endif %}
        </div>
        <div class="pinfo">
            <p>Página atual: {{pagina_atual}} de {{maxPage}}</p>
        </div>
        <div class="scroll-top">
            <a href="#top" title="Ir para o TOPO">
                <i class="material-icons">keyboard_arrow_up</i>
            </a>
        </div>
    <script src="/js/index.js"></script>
{%endblock%}