<html>
    <head>
        <link rel="manifest" href="/js/pwa-manifest.json"> <!-- PWA -->
        <meta name="theme-color" content="#764ABC"/>
        <link rel="apple-touch-icon" href="/images/logo.png">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--permitir req http em https---->
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="shortcut icon" href="/images/icon.ico" >
        {%block head%}
            <title>notIFicado</title>
        {%endblock%}
    </head>
    <body>
        <div style="display:flex;">
            <h1><sub>NOT</sub>IF<sub>ICADO</sub> </h1>
        </div>
        <div class="navbar" id="navbar">
            <div class="img-box">
                <a href="/">
                    <img src="/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="box-menu">
                <i class="material-icons">menu</i>
                <div class="menu-list">
                    <ul class="lista">
                        <a href="/"><li class="item-lista">Notícias</li></a>
                        <a href="/sobre/#box-sobre"><li class="item-lista">Sobre</li></a>
                        <a href="/ajuda"><li class="item-lista">Ajuda</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-banner">
            {% for item in banner %}
            <a class="link_banner" href={{ item.url_target }} target="_blank">
                <img class="banner" href={{item.url_target}} style="display:none;" src={{item.url_image}} alt="banner">   
            </a>
            {% endfor %}
        </div>

        {%block conteudo%}
        {%endblock%}
        
        <script src="/js/scripts.js"></script>
    </body>
</html>