{% extends 'layout.njk' %}

{%block head%}
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Gabriel Santos</title>
{%endblock%}

{%block conteudo%}
<div class="corpo">
    <div id="wrapper" style="display: grid;">
        <img src="https://avatars0.githubusercontent.com/u/42621025?s=460&v=4" alt="Gabriel Santos">
    </div>
    <div class="desc">
        <h1>Gabriel Santos</h1>
        <h2>Estudante - IFNMG</h2>
        <p>5 Período em Sistemas de Informação</p>
    </div>
    <p>Siga-me</p>
    <div class="links" id="links-footer">
        <a target="_blank" href="https://github.com/gabrielroot">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/gabriel-rwx/">Linkedin</a>
        <a target="_blank" href="https://www.instagram.com/gabriel_rwx/">Instagram</a>
    </div>
</div>
{%endblock%}
