{% extends '_layout.njk' %}

{%block head%}
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Gabriel Santos</title>
{%endblock%}

{%block conteudo%}
<div class="box" id="box-sobre">
    <div class="corpo">
        <div id="wrapper">
            <img src="/images/perfilgit.jpeg" alt="Gabriel Santos">
        </div>
        <div class="desc">
            <p>Gabriel Santos</p>
            <p>Estudante de TI</p>
        </div>
        <p><b>Siga-me:</b></p>
        <div class="followme" id="links-footer">
            {# <a target="_blank" href="https://github.com/gabrielroot">Github</a>
            <a target="_blank" href="https://www.linkedin.com/in/gabriel-rwx/">Linkedin</a>
            <a target="_blank" href="https://www.instagram.com/gabriel_rwx/">Instagram</a> #}
            <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="gabriel-rwx"><a class="LI-simple-link" target="_blank" href='https://br.linkedin.com/in/gabriel-rwx?trk=profile-badge'>Gabriel Santos</a></div>
            <iframe id="frame"  width="300" height="400"  src="https://www.instagram.com/p/BukoXNxHEuP/embed" frameborder="0"></iframe>
        </div>
        <p class='p-git'><b>Veja meu perfil no </b><a target="_blank" href="https://github.com/gabrielroot">Github</a></p>
    </div>
</div>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
{%endblock%}
