:root{
    --font-general: 25px;
}

body{
    display:inline-flexbox; 
}


.cabecalho
p{
    font-size: 20px;
}

p{
    color: rgb(149, 226, 158);
    text-align: justify;
    font-size: var(--font-general); 
    line-height: 32px;
    margin: auto;
}

a{
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    font-size: var(--font-general);
}

a:hover{
    color: rgb(200, 204, 193);
}

.box-cartilha{
    max-width: 80vw;
    align-self: center;

    height: 1200px;
}

.cabecalho
.building{
    font-size: 20px;
    margin: 0 auto;
}

.cartilha{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cartilha div{
    display: flex;
    flex-direction: column;
    background-color: lawngreen;
    padding: 5% 10%;
    width: 80%;
    height: 60vh;
}


/* ///////////////////////////// LINHA 1 /////////////////////////// */


.cartilha .line-1{
    background-color: rgb(47, 158, 65);
    
}


.line-1:first-of-type{
    background-color: rgba(30, 168, 53, 0.739);
}

.line-1 i{
    text-shadow: 0px 0px 3px black;
    animation-name: time;
    animation-duration: 10000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes time{
    /* Início */
    from{ 
        transform: rotate(0);
    }
    
    /* Fim */
    to{
        transform: rotate(360deg);
    }
}

.line-1
i:first-child{
    align-self: self-start;
}

.line-1
h3{
    font-size: 28px;
    color: rgb(167, 255, 187);
    justify-self: center;
    margin: auto;
    text-shadow: 5px 3px 3px black;
}
.line-1 i:last-child{
    align-self: flex-end;
    margin-top: auto;
}

.cartilha
.line-1:last-child{
    display: flex;
    flex-direction: line;
}

.line-1
.icon-clock{
    align-self: center;
    justify-self: center;
    font-size: 100px;
    color: #1c440d;
    margin-top: 0px;
}

@media (max-width: 700px){
    p{
        line-height: 32px;
    }

    .box-cartilha{
        max-width: unset;
        width: 100vw;
    }
    
    .cartilha{
        grid-template-columns: 1fr;
    }

    .cartilha div{
        width: 80vw;
    }
    
}

/* ///////////////////////////// LINHA 2 /////////////////////////// */

.cartilha
.line-2{
    background-color: rgb(15, 71, 122);
}

.line-2:last-child{
    background-color: #fff !important;
}

.line-2 .sino{
    align-self: center;
    justify-self: center;
    font-size: 100px;
    color: #1c440d;
    margin-top: 0px;
}