@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body{
    display: block;
    background-color: rgb(56, 10, 102);
    padding: 5px 10vw;
}

.box-banner{
    display: grid;
    margin-top: 20vh;
}

.navbar{
    height: 30vh;
    width: 100fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.banner{
    width: 80vw;
    max-width: 760px;
    border-radius: 10px;
    box-shadow: 10px 6px 6px rgb(28, 22, 44);
    justify-self: center;
}

.link_banner{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}



h1{
    font-size: 60px;
    color: rgb(195, 195, 195);
    margin: 10px auto;
    letter-spacing: 10px;
}

.img-box{
    justify-self: left;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr ;
}
.img-box img{
    height: 150px;

}

.content{
    background-color: seashell;
    padding: 80px;
    border-radius: 10px 10px 0 0;
    margin:300px auto;
    margin-bottom: 0;
}

.navbar, .content{
    max-width: 1300px;
}

.items{
    box-shadow: 10px 10px 15px rgb(139, 139, 139);
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
    display: grid;
    grid-template-areas:"titulo   titulo   titulo     titulo"
                        "img      img      img        img"
                        "desc     desc     desc       desc"
                        "ic-dt    data     ic-hr      hora";
    padding: 30px 40px;
    column-gap: 25px;
    row-gap: 40px;
}

.items + .items{                 /* aplica o estilo ao elemento irmão anterior. Como o primeiro não tem irmão, não pega o estilo */
    margin-top: 40px;
}

.scroll{
    display: none;
}

@media (max-width:700px){
    .box-banner{
        display: grid;
        margin-top: 15vh;
    }
    .banner{
        width: 75vw;
    }

    body .content{
        /* margin-top: -10px; */
        padding: 15px 14px;
    }

    h1{
        font-size: 40px;
    }
    
    .img-box img{
        width: 100px;
        height: 100px;
    }

    .items h4{
        line-height: 16px;
        font-size: 15;
    }

    .items i{
        font-size: 15px;
    }

    .items p{
        font-size: 15px;
    }

    .items{
        padding: 10px;
    }

    body{
        padding: 5px 0;
    }

    .scroll{
        position: absolute;;
        margin: 80px 45vw;
        display: initial;
    }
    .scroll a{
        color: initial;
    }
    .scroll a i{
        font-size: 50px;
        float: left;
        color: rgb(195, 195, 195);
    
    }
}

.data{
    grid-area: data;
    align-self: center;
    grid-column: 2fr;
}

.hora{
    grid-area: hora;
    align-self: center;
}

h4{
    text-align: center;
    line-height: 30px;
    color: rgb(46, 46, 46);
}


.link-title-item{
    text-decoration: none;
    color: initial;
    grid-area: titulo;
}

.link-image-item{
    grid-area: img;
    justify-self: center;
}

.items img{
    width: 40vw;
    border-radius: 15px;
    align-self: center;
    max-width: 1200px;
}

.desc{
    grid-area: desc;
    text-align: justify;
    justify-self: center;
}
.icon-date{
    grid-area: ic-dt;
    justify-self: right;
}

.icon-clock{
    grid-area: ic-hr;
    justify-self: right;
}

.paginacao{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.paginacao i{
    color: white;
    font-size: 35px;
    margin-left: 5px;
}

.pinfo{
    display: flex;
    color: white;
    /* margin-left: 33vw; */
}

.pinfo p{
    margin: 0 auto;
}

.scroll-top{
    position: absolute;
    margin-left: 80vw;
}

.scroll-top a{
    text-decoration: none;
}

.scroll-top a i{
    color: blanchedalmond;
    font-size: 50px;
}

/* ////////// LISTA DO MENU   //////////// */
/* /////////////////////////////////////// */
.box-menu i{
    font-size: 52px;
    color: white;
    cursor: pointer;
}

.box-menu{
    justify-self: right;
    align-self: center;
}

.box-menu:hover .menu-list{
    display: initial;
}

.menu-list{
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-left: -40vw;
    width: 40vw;
    height: 100vh;
    transition: display 400ms ease-in-out;
}

.menu-list .lista{
    background-color: rgb(52, 12, 92);
    padding: 0;
    list-style: none;
}

.lista a li{
    line-height: 40px;
    color: white;
    padding: 10px 20px;
}

.lista a:visited{
    background-color: rgb(31, 10, 51);
    color: rgb(173, 61, 61);
}

.item-lista{
    transition: background-color 400ms ease-in-out;
}

.item-lista:hover{
    background-color:rgb(40, 14, 66);
}
