@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body{
    display: block;
    background-color: rgb(56, 10, 102);
    padding: 5px 10vw;
}

.navbar{
    height: 30vh;
    width: 100fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.banner{
    width: 70vw;
    max-width: 760px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(97, 98, 97);
}

.link_banner{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

h1{
    font-size: 60px;
    color: white;
    margin: 0 auto;
    letter-spacing: 5px;
}

.box-menu{
    justify-self: right;
    align-self: center;
}
.img-box{
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr ;
}
.img-box img{
    height: 150px;
}
.box-menu i{
    font-size: 52px;
    color: white;
    cursor: pointer;
}

.content{
    margin-top: 100px;
    background-color: seashell;
    padding: 150px 80px;
    border-radius: 10px 10px 0 0;
    margin: 100px auto;
}

.navbar, .content{
    max-width: 1300px;
}

.items{
    box-shadow: 10px 10px 15px rgb(139, 139, 139);
    margin-top: 40px;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
    display: grid;
    grid-template-areas:"titulo   titulo   titulo     titulo"
                        "img      img      img        img"
                        "desc     desc     desc       desc"
                        "ic-dt    data     ic-hr      hora";
    padding: 30px 40px;
    column-gap: 25px;
    row-gap: 40px;
}

@media (max-width:700px){
    .banner{
        width: 75vw;
    }

    body .content{
        margin-top: -10px;
        padding: 10px 10px;
    }

    h1{
        font-size: 20px;
    }
    
    .img-box img{
        width: 100px;
        height: 100px;
    }

    .items h4{
        line-height: 16px;
        font-size: 15;
    }

    .items i{
        font-size: 15px;
    }

    .items p{
        font-size: 15px;
    }

    .items img{
        width: 260px !important;
    }

    .items{
        padding: 10px;
    }

    body{
        padding: 5px 0;
    }
}

@media (max-width:500px){
    .banner{
        width: 100fr;
    }
}
.data{
    grid-area: data;
    align-self: center;
    grid-column: 2fr;
}

.hora{
    grid-area: hora;
    align-self: center;
}

h4{
    text-align: center;
    line-height: 30px;
}


.link-title-item{
    text-decoration: none;
    color: initial;
    grid-area: titulo;
}

.link-image-item{
    grid-area: img;
    justify-self: center;
}

.items img{
    width: 428px;
    border-radius: 15px;
    align-self: center;
}

.desc{
    grid-area: desc;
    text-align: justify;
    justify-self: center;
}
.icon-date{
    grid-area: ic-dt;
    justify-self: right;
}

.icon-clock{
    grid-area: ic-hr;
    justify-self: right;
}

.paginacao{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.paginacao i{
    color: white;
    font-size: 35px;
    margin-left: 5px;
}

.pinfo{
    display: flex;
    color: white;
    /* margin-left: 33vw; */
}

.pinfo p{
    margin: 0 auto;
}